body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
.header{
	margin-right: 300px;
	margin-left: 300px;
}
.firstdiv{
	display: flex;
	justify-content: space-between;
}
.seconddiv{
	display: flex;
	justify-content: space-between;
}
.main-nav{
	padding-top: 37px;
	height: 37px;
}
.list{
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}
.item-link{
	text-decoration: none;
	margin-right: 10px;
}
.button{
	margin-top: 15px;
	margin-left: 10px;
	height: 18px;
	padding-top: 18px;
	text-decoration: none;
	display: inline-block;
  color: black;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .25em .5em;
  outline: none;
  border: 1px solid rgb(250,172,17);
  border-radius: 7px;
  background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
  color: white;
}
.main-slaider{
	text-align: center;
}
.main{
	display: flex;
	justify-content: space-between;
	margin-right: 300px;
	margin-left: 300px;
	padding-top: 30px;
	text-align: center;
}
.photo{
	display: block;
}
.main-info{
	margin-right: 300px;
	margin-left: 300px;
	padding-top: 30px;
	text-align: left;
}
.Ras{
	height: 100px;
	background:	#FF8C00;
	align-content: center;
	display: flex;
	justify-content: space-between;
}
.Ras p {
		color: white;
	margin-left: 300px;
	padding-top: 15px;
}
.Ras a{
	text-decoration: none;
	background-color: white;
	margin-top: 35px;
	margin-right: 300px;
	height: 30px;
	width: 200px;
	border:2px solid;
	border-color: white;
	text-align: center;
	color: black;
	font-size: 18px;
	font-weight: bold;
}
.Ras input{
	margin-top: 30px;
	height: 35px;
	width: 250px;
	background-color: rgba(0,0,0,0);
	border: 1px solid;
	border-color: white;
}
input::-webkit-input-placeholder { color: white; font-size: 15px; }
.main-info2{
	display: block;
	margin-right: 300px;
	margin-left: 300px;
	padding-top: 30px;
}
.text-info{
	list-style: none;
	border-spacing:30px;
	padding:20px; 
}
.info-kat{
	display: flex;
	justify-content: space-between;
	height: 29px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.Catalog{
	display: block;
	justify-content: space-between;
	margin-right: 300px;
	margin-left: 300px;
	padding-top: 30px;
}
.photo-kat{
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
}
.Main-Consul{
	display: block;
	justify-content: space-between;
	margin-right: 300px;
	margin-left: 300px;
	padding-top:50px;
}
.photo-con{
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
}
.text-con{
	text-align: center;
	display: block;
	font-size: 15px;
}
.brend{
	text-align: center;
	font-size: 30px;
	color: #9b9b9b;
	padding-top: 60px;
	padding-bottom: 60px;

}
.info-footer{
	display: block;
	justify-content: space-between;
	margin-right: 300px;
	margin-left: 300px;
	padding-top: 30px;
}
.footer{
	display: flex;
	justify-content: space-between;
	margin-right: 300px;
	margin-left: 300px;
	padding-top: 200px;
}
.footerfirst{
	display: block;
	justify-content: space-between;
	width: 30%;
	color: #9b9b9b;
}
.footersecond{
	display: flex;
	justify-content: space-between;

}
.list-footer{
	list-style: none;
	text-decoration: none;	
}
.img-text{
  position: relative;
  color: white;
}

.img-text h4 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  top:30%;
  text-align: center;
  font-size: 20px;
}
    /* стили основного контейнера слайдера */
    .slider {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }

    /* стили для обёртки, в которой заключены слайды */
    .slider__wrapper {
      position: relative;
      overflow: hidden;
    }

    /* стили для контейнера слайдов */
    .slider__items {
      display: flex;
      transition: transform 0.6s ease;
    }

    /* стили для слайдов */
    .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
    }

    /* стили для кнопок "вперед" и "назад" */
    .slider__control {
      position: absolute;
      top: 50%;
      display: none;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
    }

    .slider__control_show {
      display: flex;
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: 0.9;
    }

    .slider__control_prev {
      left: 0;
    }

    .slider__control_next {
      right: 0;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_prev::before {
      background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_next::before {
      background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    /* стили для индикаторов */
    .slider__indicators {
      position: absolute;
      right: 0;
      bottom: 10px;
      left: 0;
      z-index: 15;
      display: flex;
      justify-content: center;
      padding-left: 0;
      margin-right: 15%;
      margin-left: 15%;
      list-style: none;
      margin-top: 0;
      margin-bottom: 0;
    }

    .slider__indicators li {
      box-sizing: content-box;
      flex: 0 1 auto;
      width: 30px;
      height: 4px;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: -999px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.5);
      background-clip: padding-box;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }

    .slider__indicators li.active {
      background-color: #fff;
    }

    /* для стилизации текущего слайдера */
    .img-fluid {
      display: inline-block;
      height: auto;
      max-width: 100%;
    }